/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #101214;
    color: #7A7C80;

}

h2,.white{
    color: #fff;
}

a{
    color: #7A7C80;
    text-decoration: none;
}
/* section 1 */
.section-1{
    padding-top: 40vh;
    text-align: center;
}

.section-1 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.section-1 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-1 a{
    font-size: 1.5rem;
    padding: 10px;
}
/* section 2 */
.section-2{
    padding-top: 10vh;
    width: 70%;
}

.section-2 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-2 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.section-2 a{
    display: block;
    padding: 5px;
    font-size: 1.2rem;
    padding-left: 0;
    width: 100px;
}
/* animations / utilities */
.section-2 a:hover{
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.section-1 a:hover{
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}
.white:hover{
    position: relative;
    padding-left: 10px;
}
      .thm_margin {
        margin: 5px;
      }

      #thm_badge {
        width: 210px;
        display: inline-table;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      #thm_badge:hover {
        cursor: pointer;
      }

      .thm_avatar {
        display: block;
        width: 50px;
        height: 50px;
        float: left;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 50%;
        box-sizing: content-box; /* Needed for border to stop changing image width*/
        border: 3px solid #88cc14;
        background-color: #343c42;
        box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
        object-fit: cover;
        box-shadow: 0 0px 3px 0px #303030;
      }

      @font-face {

      }

      .thm_font {
       
      }

      .thm_nickname {
        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
        text-shadow: #000 0 0 6px;
      }

      .thm_stat {
        color: #fff;
        opacity: 0.5;
        font-size: 14px;
      }

      .thm_icon {
        opacity: 0.85;
        height: 16px;
      }

      @keyframes flicker {
        0%,
        19.999%,
        22%,
        62.999%,
        64%,
        64.999%,
        70%,
        100% {
          opacity: 0.99;
          text-shadow: -1px -1px 0 $outline, 1px -1px 0 $outline, -1px 1px 0 $outline,
            1px 1px 0 $outline, 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444,
            0 0 2px #ff7e00, 0 2px 3px #000;
        }
        20%,
        21.999%,
        63%,
        63.999%,
        65%,
        69.999% {
          opacity: 0.4;
          text-shadow: none;
        }
      }

      .thm_rank {
        color: #ffffff;
        font-size: 11px;
      }

      .thm_line {
        line-height: 12px;
        margin: 0px;
        padding: 0px;
      }

      .thm_link {
        color: #fff;
        font-size: 0.6em;
        text-decoration: none;
        animation: flicker 6s infinite;
      }

      .thm_link:hover {
        color: #fff;
        font-size: 0.6em;
        text-decoration: underline;
      }

      .thm_link:visited {
        color: #fff;
      }

      .thm_mr {
        margin-right: 8px;
      }

      .thm_for_img {
        color: #fff;
        opacity: 0.5;
        font-size: 14px;
        position: relative;
        top: -3px;
        margin-bottom: 5px;
      }
/* if you want to change the original color */

/* media queres */
@media(max-width:780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding:0;
        padding-top: 5rem;
    }
    .section-2{
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}
