body {
  padding: 5px;
}

.grid {
  padding: 20px;
}

.scrool-down {

  

}
nav {
  padding: 20px;

  
}

.project {
  padding: 20px;
  /* Casd with white shadow */
  box-shadow: 0 10px 8px 0 rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
  
  
}

.project footer {
  padding: 10px;
  /* force down */
  margin-top: 20px;

}

.section-1 a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  /* size of the text */
  font-size: 20px;
}

body footer {
  /* center the text */
  text-align: center;
  /* make it bottom */
  position: absolute;
  bottom: 0;
  /* cetner the text */
  width: 99%;
}

body {

  color: white;

  margin: 0;
  width: 100vw;
  height: 100vh;
  text-shadow: 8px 8px 10px #0000008c;

  
}

